@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  overflow: hidden; /* 禁止滚动 */
  overscroll-behavior: none; /* 禁止滚动时的弹性 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.prose blockquote {
  quotes: none;
  font-style: normal; /* 取消斜体 */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.5rem;
  color: #666;
  border-left-color: #ddd; /* 可选：调整左边框颜色 */
}

.prose blockquote p::before,
.prose blockquote p::after {
  content: none; /* 去除引号 */
}