.sideBarWrap {
  width: 100%;
  padding: 8px;
  --item-padding: 8px;
  .label {
    font-size: 12px;
    color: rgba(63, 63, 70, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--item-padding);
  }
}
.itemWrap {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  position: relative;
  width: 100%;
  padding: var(--item-padding);
  border-radius: 4px;
  overflow: hidden;
  color: rgb(63, 63, 70);
  height: 16px;
  line-height: 16px;
  box-sizing: content-box;
  margin-bottom: 4px;
  &:hover {
    background-color: hsl(240 4.8% 95.9%);
    cursor: pointer;
  }
  .icon {
    width: 16px;
    height: 16px;
    > svg {
      width: 16px;
      height: 16px;
    }
  }
  .appendix {
    position: absolute;
    right: var(--item-padding);
  }
}
